body {
    position: relative;
}

h1 {
    font-size: larger;
}

div.nombre {
    padding: 8px;
    font-size: small;

}

div.apellido {
    padding: 8px;
    font-size: small;
}

div.email {
    padding: 8px;
    font-size: small;
}

.img_mandarina {
    width: 100vw;
    height: 85%;
    background-image: url(../imagenes/mandarina.png);
    background-position: center;
    background-size: cover;
}

.main_formulario {
    background-color: rgba(255, 255, 255, 0.810);
    border: 1px solid rgba(255, 255, 255, 0.363);
    border-radius: 8px;
    padding: 17px;
    width: 200px;
    position: absolute;
    bottom: 25%;
    right: 75%;
    box-shadow: -11px 13px 25px -4px rgba(99, 99, 99, 0.75);
}

div.buttom {
    padding: 8px;
}

.buttom_primario {
    width: 80px;
    height: 20px;
    justify-items: center;
    border: 1px solid rgba(255, 166, 0, 0.151);
    border-radius: 4px;
    background-color: rgba(255, 166, 0, 0.151);
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.buttom_primario:hover {
    box-shadow: 0 8px 8px 0 #00000048, 0 8px 8px 0 #00000049;
    transform: translate(0px, 2px);
    -webkit-transform: translate(0px, 2px);
    -moz-transform: translate(0px, 2px);
}

input {
    margin-top: 3px;
    padding: 5px;
    height: 18px;
    border: 1px solid rgba(255, 166, 0, 0.658);
    border-radius: 6px;
}

::placeholder {
    padding-left: 5px;
}

.inf_contacto {
    width: 420px;
    text-align: center;
    position: absolute;
    bottom: 60%;
    right: 10%;
}

h2 {
    font-size: xx-large;
    padding: 10px;
}

div.logo_nami {

    height: 147px;
   width: 238px;
    bottom: 28%;
    right: 17%;
    position: absolute;
    background-image: url(../imagenes/nombre\ png.png);
    background-size: cover;
}